<div class="container-form">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="box" style="margin-top: 45px">


        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          </div>

          <div class="form-actions flex">
            <div style="padding-right: 10px;">
              <%= f.button :submit, "Update", class: "button-green-primary" %>
            </div>
            <%= link_to "Back", :back, class: "button-red-secondary"%>
          </div>
        <% end %>
        <div class="alternative deleteaccount">
          <p class="paragraph">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), class: "link ", data: { confirm: "Are you sure?" }, method: :delete %></p>
        </div>

      </div>
    </div>
  </div>
</div>
