<div class="container">
  <div class="main-container">
    <div class="info-container col-xs-12 col-sm-8">
      <div class="card">
        <div class="tabs">
          <a class="tab active" href="#">
            <h3>350</h3>
            <p>Followers</p>
          </a>
          <a class="tab" href="#">
            <h3>456</h3>
            <p>Following</p>
          </a>
          <a class="tab" href="#">
            <h3>189</h3>
            <p>Upvoted</p>
          </a>
          <a class="tab" href="#">
            <h3>13</h3>
            <p>Submitted</p>
          </a>
        </div>
        <%@courses.flatten.each do |course|%>
          <div class="card-icons">
            <div class="icons">
              <i class="fas fa-graduation-cap"></i>
              <p><%= course.knowledge_level %></p>
            </div>
            <div class="icons">
              <i class="far fa-clock"></i>
              <p><%= course.duration%></p>
            </div>
            <div class="icons">
              <i class="fas fa-dollar-sign"></i>
              <p><%= course.price %></p>
            </div>
          </div>
          <h3><%= course.title %></h3>
          <p><%= course.description %></p>
          <%end%>
        <% @reviews.each do |review|%>
          <h3><%= review.title %></h3>
          <p> <%= review.content %> </p>
          <% num = review.rating.to_i %>
          <div class="stars">
            <% num.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5-num).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </div>
        <%end%>
      </div>
    </div>
    <div class="contact-container col-xs-12 col-sm-4">
      <div class="card">
        <% if current_user.avatar.file.nil?%>
          <%= image_tag "https://static.boredpanda.com/blog/wp-content/uploads/2018/03/funny-embarrassing-childhood-youth-pictures-coverimage.jpg", class: "avatar-lg" %>
        <% else %>
          <%= cl_image_tag(@user.avatar, class: "avatar-lg") %>
        <% end %>


        <h2>Hey <%= @user.name %>!</h2>
        <p>How are you today?</p>
      </div>
      <div class="empty-box">

      </div>
      <div class="card">
        <p><%= link_to "Change your password", edit_user_registration_path %></p>
        <p><%= link_to "Change your avatar", edit_avatar_path %></p>
      </div>
    </div>
  </div>
</div>


