<div class="container-form">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="box" style="margin-top: 45px">

        <h2>Forgot your password?</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions" style="margin: 25px  0px;">
            <%= f.button :submit, "Send me reset password instructions" , class: "button-green-primary" %>
          </div>
        <% end %>
        <div class="alternative">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
