<div class="wrapper background-home" style="padding-bottom: 150px;">
  <% if @error != nil %>
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%=@error%>
    </div>
  <%end%>

  <div class="navbar-wagon-home">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand link" do %>
      <div class="flex">
        <%= image_tag "lion-b&w.png", height: 50, class:"white" %>
        <h3 style= "color: white; padding-left: 20px; margin-top: 11px; ">Coursehunt.io</h3>
      </div>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <%if !user_signed_in?%>
       <%= link_to 'Login', new_user_session_path, class: "navbar-wagon-item button-white-sidebar-inv"%>
      <%end%>
    </div>

    <!-- Avatar with dropdown menu -->
    <%if user_signed_in?%>
    <div class="navbar-wagon-item">
      <div class="dropdown">
          <img src='<%= current_user.avatar %>' class="avatar-sm dropdown-toggle" id="navbar-airnbboat-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Profile", user_path(current_user.id) %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link"%></li>
        </ul>
      </div>
    </div>
    <%end%>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Some mobile link</a></li>
          <li><a href="#">Other one</a></li>
          <li><a href="#">Other one</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container ">
    <div class="row">
      <div class="centering">
        <div class="max_width">
          <div class="search-content">
            <div>
              <h2 style="color: white; font-size: 50px; font-weight: 600;">Find courses to learn..</h2>
            </div>
            <div class="banner-text">
              <h2 style="color: white; font-weight: lighter;">
                <div style="padding: 20px 0px;">
                  <span id="banner-typed-text"></span>
                </div>
              </h2>
            </div>
          <div>
          <div class="form-wrapper">
            <div class="growingform">
              <%= simple_form_for :criteria, url: courses_path,
                  wrapper: :inline_form,
                  html: { class: "form-inline test"},
                  wrapper_mappings: {
                  boolean: :inline_boolean}, method: :get do |f| %>

                <div class="flex" style="width:100%;">
                  <%= f.input :search, id: "search", as: :string,
                      input_html: {
                        class: "awesomplete",
                        data: {
                        categories: Course::CATEGORIES.join(", ")
                        }
                      }
                    %>
                    <%= f.button :submit, "Hunt", class: "button-green-primary-landing"%>
                </div>
                  <% end %>
              </div>
            </div>
          </div>

            <div class="col-xs-12">
              <div class="more-info-container">
                <div class="more-info">
                  <p class="light-paragraph">or</p>
                  <button type="button" class="button-advanced-search" data-toggle="modal" data-target="#exampleModalCenter">
                    Advanced Search
                  </button>

              </div>

              <i class=""> <%= link_to "", "#more-information", class: "fas fa-angle-down single-icon-home" %> </i>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content box">
          <div class="modal-header">
            <div class="flex modal-flex">
            <h3 class="heading" id="exampleModalLongTitle">Advanced Search</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="modal-body">
            <%= simple_form_for :criteria, url: courses_path, :method => :get do |f| %>
              <div>
                <h3 class="subheading">Please enter your search</h3>
                <div class="modal-search">
                  <%= f.input :search, id: "search", as: :string, label: false,
                            input_html: {
                              class: "awesomplete searchbar fix-width-search",
                              data: {
                                categories: Course::CATEGORIES.join(", ")
                              }
                            }
                  %>
                </div>
              </div>
              <div>
                <h3 class="subheading">Indicate your skill level here:</h3>
                <div class="flex" style="min-height: 100px;">
                  <%= label_select_home(@levels, "beginner") %>
                  <%= label_select_home(@levels, "intermediate") %>
                  <%= label_select_home(@levels, "advanced") %>
                </div>
              </div>
              <div>
                <h3 class="subheading">What's your budget?</h3>
                <div class="flex" style="min-height: 100px;">
                  <%= label_select_price_home(@prices, "Free") %>
                  <%= label_select_price_home(@prices, "Paid") %>
                </div>
              </div>

              <div class="modal-footer">
                <%= f.button :submit, "Specify Search", class: "button-green-primary"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper background-home2">
  <div class="container">
    <div class="row">
      <div id="usps">
          <section id="more-information"></section>
          <div class="box flex box-position">
            <div class="usp-item">
              <i class="far fa-user fa-2x"></i>
              <h3 class="heading">
                Personal.
              </h3>
              <p class="paragraph">
                Filter courses according to your current skill level and find the best match to reach your goals.
              </p>
            </div>
            <div class="usp-item">
              <i class="fas fa-align-center fa-2x"></i>
              <h3 class="heading">
                All in one.
              </h3>
              <p class="paragraph">
                Benefit from a variety of courses offered by the four largest online platforms all aggregated in one place.
              </p>
            </div>
            <div class="usp-item">
              <i class="far fa-clock fa-2x"></i>
              <h3 class="heading">
                Convenient.
              </h3>
              <p class="paragraph">
                Bookmark courses to check them out later. All of your favorites are a click away from your profile page.
              </p>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-placeholder"></div>
      <h3 class="heading margin-padding-box">Your perfect course is just 3 steps away:</h3>
      <div class="flex margin-padding-box" style="justify-content: space-between;">
        <div class="img-box">
          <%= image_tag "person-searching", class:"white img-size" %>
        </div>
        <div class="box step-content" style= "display: flex;">
          <div class="step-number" style= "flex: 0 0 30%;">
            <h3 class="heading">1</h3>
          </div>
          <div>
          <h3 class="subheading">
            Search & Filter
          </h3>
          <p class="paragraph">
            Start by browsing through our comprehensive collection of courses either by entering a keyword in the search bar or accessing our "browse categories" page. All the matching results will be displayed on our results page. You can then apply further filtering and narrow the list as much as you'd like to find the perfect course.
          </p>
          </div>
        </div>
      </div>
      <div class="flex margin-padding-box" style="justify-content: space-between;">
        <div class="box step-content" style= "display: flex;">
          <div class="step-number" style= "flex: 0 0 30%;">
            <h3 class="heading">2</h3>
          </div>
          <div>
            <h3 class="subheading">
              Bookmark & Select
            </h3>
            <p class="paragraph">
              After reaching a more specified selection, you will have a smaller list of courses that suits your needs. With our bookmarking feature, you can click on the bookmark icon to keep track of the courses you are interested in. Then, you can revisit the course display page and start anytime you want!
            </p>
          </div>
        </div>
        <div class="img-box">
          <%= image_tag "results", class:"white img-size" %>
        </div>
      </div>
      <div class="flex margin-padding-box" style="justify-content: space-between;">
        <div class="img-box">
          <%= image_tag "write-review", class:"white img-size" %>
        </div>
        <div class="box step-content" style= "display: flex;">
          <div class="step-number" style= "flex: 0 0 30%;">
            <h3 class="heading">3</h3>
          </div>
          <div>
          <h3 class="subheading">
            Start & Review
          </h3>
          <p class="paragraph">
            After you have successfully completeted a courses of your choice on one of our partners' websites, feel free to leave feedback for the particular course. Reviews are a great resource for our community as they provide a student's insight for people who are considering the course. In order to write a review just click on the respective course on your user page.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper background-home3" style="padding-bottom:50px;">
    <div class="medium-placeholder"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="category-container">
            <h3 class="heading">Categories:</h3>
          </div>
          <div class="medium-placeholder">

          </div>
        </div>
        <div class="container-categories">
          <div class="categories-section">
            <div class="category-header">
              <i class="far fa-heart"></i>
              <p>Most Popular</p>
            </div>
            <hr>
            <div class="category-row">
              <% @top_categories_count.each do |category| %>
              <div class="col-xs-12 col-md-6 col-lg-3">
                <%= render 'shared/category', category_name: category[1][0], image: category[1][1], count: category[1][2]  %>
              </div>
              <% end %>
            </div>
          </div>


          <div class="categories-section">
            <div class="category-header">
              <i class="fas fa-globe"></i>
              <p>All</p>
            </div>
            <hr>
            <div class="category-row">
              <% @categories.each do |category| %>
                <div class="col-xs-12 col-md-6 col-lg-3">
                  <%= render 'shared/category', category_name: category[1][0], image: category[1][1], count: category[1][2]  %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


