<% unless @error.empty? %>
  <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%=@error%>
  </div>
<%end%>

<div class="results-row">
  <div class="container special">
    <div class="row">
      <!-- left side -->
      <div class="col-xs-12 col-md-3">
        <div class="filter-container filters-card">
          <%= simple_form_for :criteria, url: courses_path, :method => :get do |f| %>
          <!-- knowledge level selector -->
            <div class="filter-selectors">
              <div class="filter">
                  <!-- select box beginner -->
                <h3>Knowledge level</h3>
                <div class="form-check category-choices">
                  <%= label_select(@levels, "beginner") %>
                </div>
                <!-- select box intermediate -->
                <div class="form-check category-choices">
                  <%= label_select(@levels, "intermediate") %>
                </div>
                <!-- select box intermediate -->
                <!-- select box advanced -->
                <div class="form-check category-choices">
                  <%= label_select(@levels, "advanced") %>

                </div>
              </div>
              <div class="small-placeholder">
              </div>
              <div class="filter">
                <h3>Platform</h3>
                <!-- Udemy -->
                <div class="form-check category-choices">
                  <%= label_select_p(@platforms, "Udemy") %>
                </div>
                <!-- Udacity -->
                <div class="form-check category-choices">
                  <%= label_select_p(@platforms, "Udacity") %>
                </div>
                <!-- EdX -->
                <div class="form-check category-choices">
                  <%= label_select_p(@platforms, "Edx") %>
                </div>
              </div>
            </div>
            <!-- filter-selectors -->
            <!-- platform selector -->
            <div>
              <!-- hidden fields -->
              <%= f.hidden_field :search, value: @search_input %>
              <div class="small-placeholder">
              </div>
              <!-- submit button -->
              <%= f.button :submit, "Specify Search", class: "button-white-sidebar"%>
            </div>
          <% end %>
        <!-- filter-container -->
        </div>
      <!-- left side -->
      </div>

  <!-- right side -->
      <div class="col-xs-12 col-md-9">
        <div class="container1">
          <div class="result-title">
            <p class ="paragraph">We found <%= @courses.size %> courses for you</p>
            <p> <%= page_entries_info @courses, entry_name: 'courses' %> </p>

          </div>
          <% @courses.each do |course| %>
            <div class="box-flex card-medium first-card">
              <div class="card-content-left">
                <div class="card-description">
                  <h3 class="heading"><%=course.title%></h3>
                </div>
              <div class="paragraph">
                <p><%= truncate(course.description, length: 400, escape: false) %></p>
              </div>
            </div>
            <div class="card-content-right">
                <div class="icon">
                  <i class="fas fa-graduation-cap"></i>
                  <p><%= course.knowledge_level %></p>
                </div>
                <div class="icon">
                  <i class="far fa-clock"></i>
                  <p><%= course.duration%></p>
                </div>
                <div class="icon">
                  <i class="fas fa-coins"></i>
                  <p><%= course.price %></p>
                </div>
              <div class="card-button">
               <%= link_to("See Details", course_path(course), class: "button-green-primary") %>
              </div>
            </div>
          </div>
          <% end %>
        <!-- container1 -->
        </div>

        <%= link_to_next_page @courses, 'Next Page' %>
        <%= link_to_previous_page @courses, 'Previous Page' %>
      <!-- col -->
      </div>
  <!-- row -->
  </div>
  <!-- container special -->
  </div>
<!-- results row -->
</div>


<!--  -->


