<% unless @error.empty? %>
  <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%=@error%>
  </div>
<%end%>

<div class="results-row">
  <div class="container special">
    <div class="row">
  <!-- left side -->
  <div class="col-xs-12 col-md-3">
    <div class="filter-container filters-card">
      <%= simple_form_for :criteria, url: courses_path, :method => :get do |f| %>
      <!-- knowledge level selector -->
        <div class="filter-selectors">
          <div class="filter">
              <!-- select box beginner -->
              <h3>Knowledge level</h3>
              <div class="form-check category-choices">
                <%= label_select(@levels, "beginner") %>
              </div>
              <!-- select box intermediate -->
              <div class="form-check category-choices">
                <%= label_select(@levels, "intermediate") %>
              </div>
              <!-- select box advanced -->
              <div class="form-check category-choices">
                <%= label_select(@levels, "advanced") %>
              </div>

          <div class="filter">
              <h3>Platform</h3>
              <!-- Udemy -->
              <div class="form-check category-choices">
                <%= label_select_p(@plattforms, "Udemy") %>
              </div>
              <!-- Udacity -->
              <div class="form-check category-choices">
                <%= label_select_p(@plattforms, "Udacity") %>
              </div>
              <!-- EdX -->
              <div class="form-check category-choices">
                <%= label_select_p(@plattforms, "Edx") %>
              </div>
          </div>
      <!-- filter-selectors -->
      </div>
            <!-- hidden fields -->
          <%= f.hidden_field :search, value: @search_input %>
            <!-- submit button -->
          <div>
            <%= f.button :submit, "Specify search", class: "main-c2a"%>
          </div>
        </div>
      <% end %>
    <!-- filter-container -->
    </div>
  <!-- left side -->
  </div>

  <!-- right side -->
  <div class="col-xs-12 col-md-9">
    <div class="container1">
      <h1>All Courses</h1>
      <% @courses.each do |course| %>
        <div class="card-content">
          <div class="card-content-left">
          <div class="card-header">
            <h3><%=course.title%></h3>
          </div>

          <div class="card-description">
            <p><%= truncate(course.description, length: 400, escape: false) %></p>
          </div>
        </div>
        <div class="card-content-right">

            <div class="icons">
              <i class="fas fa-graduation-cap"></i>
              <p><%= course.knowledge_level %></p>
            </div>
            <div class="icons">
              <i class="far fa-clock"></i>
              <p><%= course.duration%></p>
            </div>
            <div class="icons">
              <i class="fas fa-coins"></i>
              <p><%= course.price %></p>
            </div>



          <div class="card-button">

           <%= link_to("See Details", course_path(course), class: "main-c2a") %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
  </div>
  </div>
</div>


<!--  -->


