<% if @error != nil %>
  <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%=@error%>
  </div>
<%end%>
<div class="container fullwidth">
  <div class="row">
    <!-- left side -->
    <div class="col-xs-0 col-sm-3 col-md-2">
      <div class="filter-container filters-card">
        <%= simple_form_for :criteria, url: courses_path, :method => :get do |f| %>

        <div class="small-placeholder"></div>

        <ul class="filter ul-reset">
          <li class="filter-item">
            <h3 class="filter-item-inner-heading minus"> Knowledge level
            </h3>
            <ul class="filter-attribute-list ul-reset">
              <div class="filter-attribute-list-inner">
                <li class="filter-attribute-item">
                  <%= label_select("knowledge_level", @levels, "beginner") %>
                </li>
                <li class="filter-attribute-item">
                  <%= label_select("knowledge_level", @levels, "intermediate") %>
                </li>
                <li class="filter-attribute-item">
                  <%= label_select("knowledge_level", @levels, "advanced") %>
                </li>
              </div>
            </ul>
          </li>
          <li class="filter-item">
            <h3 class="filter-item-inner-heading minus"> Platform
            </h3>
            <ul class="filter-attribute-list ul-reset">
              <div class="filter-attribute-list-inner">
                <li class="filter-attribute-item">
                  <%= label_select("platform", @platforms, "udemy") %>
                </li>
                <li class="filter-attribute-item">
                  <%= label_select("platform", @platforms, "udacity") %>
                </li>
                <li class="filter-attribute-item">
                  <%= label_select("platform", @platforms, "edx") %>
                </li>
                <li class="filter-attribute-item">
                  <%= label_select("platform", @platforms, "futurelearn") %>
                </li>
              </div>
            </ul>
          </li>

          <li class="filter-item">
            <h3 class="filter-item-inner-heading minus"> Price
            </h3>
            <ul class="filter-attribute-list ul-reset">
              <div class="filter-attribute-list-inner">
                <li class="filter-attribute-item">
                  <%= label_select("price", @prices, "Free") %>
                </li>
                <li class="filter-attribute-item">
                  <%= label_select("price",@prices, "Paid") %>
                </li>
              </div>
            </ul>
          </li>

          <li class="filter-item">
            <h3 class="filter-item-inner-heading minus"> Completion time
            </h3>
            <ul class="filter-attribute-list ul-reset">
              <div class="filter-attribute-list-inner">
                <li class="filter-attribute-item">
                  <%= label_select("completion_time", @completion_times, "> 1 week") %>
                </li>
                <li class="filter-attribute-item">
                  <%= label_select("completion_time", @completion_times, "< 1 week") %>
                </li>
              </div>
            </ul>
          </li>
        </ul>
        <div>
          <%= f.hidden_field :search, value: @search_input %>

          <!-- submit button -->
          <%= f.button :submit, "Search", class: "button-white-sidebar"%>
          <%= button_to "Clear", "#", class: "uncheck-all btn button-white-sidebar-inv" %>
        </div>
        <% end %>
        <!-- filter-container -->
      </div>
      <!-- COL LEFT SIDE -->
    </div>

    <!-- right side -->
    <div class="col-xs-12 col-sm-9 col-md-7">
      <div class="container1">
        <!-- search -->
        <div class="box" id="index-search-box">
          <div class="flex flex-mobile">
          <%= simple_form_for :criteria, url: courses_path,
                wrapper: :inline_form,
                html: { class: "form-inline index-search-form width-search-mobile"},
                wrapper_mappings: {
                boolean: :inline_boolean}, :method => :get do |f| %>
                <%= f.input :search, id: "search", as: :string,
                    input_html: {
                      class: "awesomplete",
                      data: {
                      categories: Course::CATEGORIES.join(", ")
                      },
                      value: @search_input || ''
                    }
                  %>


            <%= f.button :submit, "Hunt", class: "button-green-primary button-mobile"%>
            <% end %>
            <div class="filter-mobile" >
              <button type="button" class="button-mobile-filter" data-toggle="modal" data-target="#exampleModalCenter">
                Filter
              </button>
           </div>
          </div>
        </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content box">
        <div class="modal-header">
          <div class="flex modal-flex">
          <h3 class="heading" id="exampleModalLongTitle">Filter Results</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <%= simple_form_for :criteria, url: courses_path, :method => :get do |f| %>
                          <div>
              <h3 class="subheading-small">Indicate your skill level here:</h3>
              <div class="flex" style="min-height: 50px;">
                <%= label_select_filter_mobile("knowledge_level", @levels, "beginner") %>
                <%= label_select_filter_mobile("knowledge_level", @levels, "intermediate") %>
                <%= label_select_filter_mobile("knowledge_level", @levels, "advanced") %>
              </div>
            </div>
            <div>
              <h3 class="subheading-small" style="margin-bottom: 12px;">Which platform(s) do you prefer?</h3>
              <div class="flex" style="min-height: 25px;">
                <%= label_select_filter_mobile("platform", @platforms, "udemy") %>
                <%= label_select_filter_mobile("platform", @platforms, "udacity") %>
              </div>
              <div class="flex" style="min-height: 25px; margin-bottom: 12px;" >
                <%= label_select_filter_mobile("platform", @platforms, "edx") %>
                <%= label_select_filter_mobile("platform", @platforms, "futurelearn") %>
              </div>
            </div>
            <div>
              <h3 class="subheading-small" >What's your budget?</h3>
              <div class="flex" style="min-height: 50px;">
                <%= label_select_filter_mobile("price", @prices, "Free") %>
                <%= label_select_filter_mobile("price", @prices, "Paid") %>
              </div>
            </div>
            <div>
              <h3 class="subheading-small">Please indicate completion time</h3>
              <div class="flex" style="min-height:50px;">
                <%= label_select_filter_mobile("completion_time", @completion_times, "> 1 week") %>
                <%= label_select_filter_mobile("completion_time", @completion_times, "< 1 week") %>
              </div>
            </div>

            <div class="modal-footer align-button-right">
              <%= f.button :submit, "Specify Search", class: "button-green-primary"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

          <!-- result information -->
        <div class="result-title">
          <p> <%= page_entries_info @courses, entry_name: 'courses' %> </p>
        </div>

      </div>


      <% @courses.each do |course| %>
      <% course_sec = "course" + course.id.to_s  %>
        <section id="<%=course_sec%>">
          <div class="box-flex-index card-medium first-card">
            <div class="row">
              <div class="col-xs-9" >
                <h3 class="heading"><%=course.title%></h3>
              </div>

              <div class="col-xs-1 col-xs-offset-1 col-sm-1 col-sm-offset-2 bookmark-index-padding">
                <div class="bookmark-background">
                <%= link_to_toggle_course_bookmark(course) %>
                </div>
              </div>
            </div>

            <div class="row display-table-cell">
                <div class="card-content-left col-xs-12 col-sm-9">
                  <% desc_as_text = Truncato.truncate course.description, max_length: 400 %>
                  <%= desc_as_text.html_safe %>
                  <!-- desc_as_text.truncate(27, escape: false) -->
                </div>
                <div class="card-content-right col-xs-12 col-sm-3">
                  <div class="content-right-attributes">
                    <% unless course.knowledge_level.nil? %>
                    <div class="icon-next">
                      <i class="fas fa-graduation-cap"></i>
                      <p><%= course.knowledge_level.capitalize %></p>
                    </div>
                    <% end %>
                    <% unless course.duration.nil? %>
                    <div class="icon-next">
                      <i class="far fa-clock"></i>
                      <p><%= course.duration%></p>
                    </div>
                    <% end %>
                    <% unless course.price.nil? %>
                    <div class="icon-next">
                      <i class="fas fa-coins"></i>
                      <p><%= "#{course.price} #{course.price_unit}" %></p>
                    </div>
                    <% end %>
                    <% unless course.avg_rating.nil? %>
                    <div class="icon-next">
                      <i class="fas fa-star"></i>
                      <p><%= course.avg_rating %></p>
                    </div>
                    <% end %>
                  </div>
                  <div class="card-button">
                    <%= link_to("See Details", course_path(course, criteria: {search: @search_input, knowledge_level: @levels, platform: @platforms, price: @prices, completion_time: @completion_times}), class: "button-green-primary") %>
                  </div>
                </div>
              </div>
            </section>
          <% end %>


       <!-- container1 -->
         <div class="indent-next-buttons">
          <%= link_to_previous_page @courses, 'Previous Page', class: "button-red-secondary" %>
          <%= link_to_next_page @courses, 'Next Page', class: "button-green-secondary" %>
        </div>
      <!-- CONTAINER -->
      </div>

      <div class="col-md-3 show-large cards-container">

        <% @categories.each do |category| %>
            <%= render 'shared/category', category_name: category[1][0], image: category[1][1], count: category[1][2]  %>
        <% end %>

      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
<!-- container special -->
</div>
<!-- results row -->


