<div class="container">

  <div class="course-show-row">

    <div class="col-xs-12 col-md-8">
      <div class="course-info">

        <h1><%= @course.title %> </h1>
        <!-- solid bookmark if bookmarked by user, otherwise regular bookmark icon -->
        <% if @bookmarked == false %>
          <i><%= link_to("", course_bookmarks_path(@course), method: :post, :class => "far fa-bookmark") %></i>
        <% else %>
          <i><%= link_to("", course_bookmark_path(@course), method: :delete, :class => "fas fa-bookmark") %></i>
        <% end %>
        <div>
          <!-- Course description -->
          <%= @course.description.html_safe %>
          <!-- Print subtitle if existing -->
          <% unless @course.subtitle.nil? %>
            <%= @course.subtitle %>
          <% end %>
        </div>

        <hr>
        <div class="reviews">
          <h2>Reviews</h2>
            <% @reviews.each do |review|%>
              <div class="card-result">
                <div class="card-header">
                  <h3><%= review.title %></h3>
                </div>
                <% num = review.rating.to_i %>
                <div class="card-icons">
                  <div class="stars">
                  <% num.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5-num).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                  </div>
                </div>
                <div class="card-description">
                  <p> <%= review.content %> </p>
                </div>
                <hr>
              </div>
            <%end%>
        </div>
      </div>
    </div>

    <!-- card on the right side -->
    <div class="col-xs-12 col-md-4">
      <div class="card course-details">
        <div class= "course-image" style="background-image: url(<%= @course.image %>)"></div>
        <hr>
        <%= link_to "Start course on #{@course.plattform}", @course.url, class: "btn btn-primary", target: "_blank" %>
        <hr>
        <ul>
          <li>Price: <%= @course.price %></li>
          <% unless @course.duration == "" || @course.duration == "0" %>
            <li><%= "#{@course.duration} #{@course.duration_unit}" %></li>
          <% end %>
          <li><%= @course.knowledge_level.capitalize %></li>
          <% if @course.active %>
            <li>Status: Active</li>
          <% else %>
            <li>Status: Currently inactive</li>
          <% end %>
          <li>Offering platform: <%= @course.plattform %></li>
        </ul>
      </div>
    </div>

  </div>
</div>


<!--
<i>link_to("", course_bookmarks_path(boat) , :class => "fas fa-edit icons") %></i>


# solid:
<i class="fas fa-bookmark"></i>
# transparent:
<i class="far fa-bookmark"></i>

 -->
