<div class="container">
  <div class="course-show-row">

    <!-- left side -->
    <div class="col-xs-12 col-md-8">
      <!-- for css of the left side -->
      <div class="course-info">
        <h1><%= @course.title %> </h1>
        <!-- solid bookmark if bookmarked by user, otherwise regular bookmark icon -->
        <% if @bookmarked == false %>
          <i><%= link_to("", course_bookmarks_path(@course), method: :post, :class => "far fa-bookmark") %></i>
        <% else %>
          <i><%= link_to("", course_bookmark_path(@course), method: :delete, :class => "fas fa-bookmark") %></i>
        <% end %>
        <!-- course description -->
        <div class="course-description">

          <!-- Print subtitle if existing -->
           <% unless @course.subtitle.nil? %>
            <h3> <%= @course.subtitle %> </h3>
          <% end %>
          <p> <%= @course.description.html_safe %> </p>
        </div>
        <hr>
        <!-- reviews -->
        <div class="reviews">
          <h2>Reviews (<%= @reviews.count %>)</h2>
          <% @reviews.each do |review|%>
            <div class="single-review">
              <div class="review-profile">
                <% author_id = review.user_id %>
                <% author = User.find(author_id) %>
                <% author_avatar = author.avatar %>
                <img src='<%= author_avatar %>' class="avatar-md">
                <p class="by-name"><%= author.name %></p>
              </div>
              <div class="review-content">
                <h4><%= review.title %> </h4>
                  <div class="stars">
                    <% t = review.rating.to_i %>
                    <% t.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5-t).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  </div>
                  <p><%= review.content %> </p>

              </div>
            </div>
          <%end%>
        <!-- reviews -->
        </div>
        <%= link_to "Add Review", new_course_course_review_path(@course.id), class: "btn btn-primary" %>
      <!-- for css of the left side -->
      </div>
    <!-- left side -->
    </div>

    <!-- card on the right side -->
    <div class="col-xs-12 col-md-4">
      <div class="card course-details">
        <div class= "course-image" style="background-image: url(<%= @course.image %>)"></div>
        <hr>
        <%= link_to "Start course on #{@course.plattform}", @course.url, class: "btn btn-primary", target: "_blank" %>
        <hr>
        <ul>
          <li>Price: <%= @course.price %></li>
          <% unless @course.duration == "" || @course.duration == "0" %>
            <li><%= "#{@course.duration} #{@course.duration_unit}" %></li>
          <% end %>
          <li><%= @course.knowledge_level.capitalize %></li>
          <% if @course.active %>
            <li>Status: Active</li>
          <% else %>
            <li>Status: Currently inactive</li>
          <% end %>
          <li>Offering platform: <%= @course.plattform %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
