<div class="container">
  <div class="course-show-row row">
    <!-- left side -->
    <div class="col-xs-12 col-md-8">
      <!-- for css of the left side -->
      <div class="box">
        <div class="flex align-horizontal">
          <p><%= @course.platform %> online course<p>
          <% if @bookmarked == false %>
            <i class="single-icon"><%= link_to("", course_bookmarks_path(@course), method: :post, :class => "far fa-bookmark") %></i>
          <% else %>
            <i class="single-icon"><%= link_to("", course_bookmark_path(@course), method: :delete, :class => "fas fa-bookmark") %></i>
          <% end %>
        </div>
        <h1 class="title"><%= @course.title %></h1>
        <!-- course description -->
        <div class="course-description">
          <!-- Print subtitle if existing -->
          <% unless @course.subtitle.nil? %>
            <h3 class="subtitle"><%= @course.subtitle %> </h3>
          <% end %>
          <div class="paragraph truncate">
            <p><%= @course.description.html_safe %></p>
          </div>
        </div>
        <div class="course-attributes">
          <div class="box box-horizontal">
            <div class="center-align">
              <p style="margin-bottom: 4px;">Instructor<p>
              <p style= "font-weight: 300;">Max Mustermann</p>
            </div>
            <div class="center-align">
              <p style="margin-bottom: 4px;">Language<p>
              <p style= "font-weight: 300;"><%= @course.language %></p>
            </div>
            <div class="center-align">
              <p style="margin-bottom: 4px;">Available now<p>
              <%if @course.active %>
                <p style= "font-weight: 300;">Yes</p>
              <%else%>
                <p style= "font-weight: 300;">No</p>
              <%end%>
            </div>
          </div>
        </div>
        <hr>
        <!-- reviews -->
        <div>
          <% if @reviews.empty? %>
            <h3 class="heading">No reviews yet</h3>
            <h3 class="subtitle" style="font-size: 20px; margin-bottom: 24px;">Be the first!</h3>
            <div>
              <%= link_to "Add Review", new_course_course_review_path(@course.id), class: "button-green-secondary" %>
            </div>
          <% else %>
            <h3 class="heading">Reviews (<%= @reviews.count %>)</h3>
          <% end %>
          <% @reviews.each do |review|%>
            <div class="flex">
              <div class="author">
                <% author_id = review.user_id %>
                <% author = User.find(author_id) %>
                <% author_avatar = author.avatar.identifier %>
                <img src='<%= author_avatar %>' class="avatar-md">
                <p class="paragraph" style="text-align: center; margin-top: 8px;"><%= author.name %></p>
              </div>
              <div class="review-content">
                <div class="flex">
                  <h3 style= "font-size: 24px; margin-top: 11px"><%= review.title %></h3>
                  <div class="stars">
                    <% t = review.rating.to_i %>
                    <% t.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5-t).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  </div>
                </div>
                  <p><%= review.content %> </p>
              </div>

            </div>
            <div class="medium-placeholder">
            </div>
          <%end%>
        <!-- reviews -->
        </div>
      <!-- for css of the left side -->
      </div>
    <!-- left side -->
    </div>

    <!-- card on the right side -->
    <div class="col-xs-12 col-md-4 make-it-stick">
      <div class="box course-details">
        <div class="course-image">
          <% case @course.platform %>
          <% when "Udemy" %>
            <%= image_tag("udemy-logo", class: "course-image") %>
          <% when "Udacity" %>
            <%= image_tag("udacity-logo", class: "course-image") %>
          <% when "Edx" %>
            <%= image_tag("edx-logo", class: "course-image") %>
          <% end %>
        </div>
        <hr>
        <ul style="margin-bottom: 15px;">
          <li class= "list-style">
            <i class="fas fa-coins icon"></i>
            Price: <%= @course.price %>
          </li>
          <% unless @course.duration == "" || @course.duration == "0" %>
            <li class= "list-style">
              <i class="far fa-clock icon"></i>
              <%= "#{@course.duration} #{@course.duration_unit}" %>
            </li>
          <% end %>
          <li class= "list-style">
            <i class="fas fa-graduation-cap icon"></i>
            <%=  @course.knowledge_level.capitalize unless @course.knowledge_level.blank? %>
          </li>
          <li class= "list-style">
            <i class="fas fa-external-link-square-alt icon"></i>
            Offering platform: <%= @course.platform %>
          </li>
          <% course_id = @course.id %>
          <% bookmarks = Bookmark.where(course_id: course_id) %>
          <% num_of_bookmarks = bookmarks.count %>
            <div class="bookmark-rating">
              <p class ="paragraph">Previously bookmarked by <%= num_of_bookmarks %> users</p>
            </div>
        </ul>
        <%= link_to "Start now on #{@course.platform}", @course.url, class: "button-green-primary", target: "_blank" %>
        <div class="add-review">
          <p>Already took it?</p>
          <%= link_to "Add Review", new_course_course_review_path(@course.id), class: "button-green-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>


