<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>coursehunt.io</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <link href="https://fonts.googleapis.com/css?family=Cabin|Lato|Nanum+Gothic|Rubik" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', defer: true %>
  <%= javascript_pack_tag 'application', defer: true %>


  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>

  <body>
    <main class="application-wrapper">
      <%= render 'shared/flashes' %>
      <% if !current_page?(root_path) %>
      <%= render 'shared/navbar'%>
      <div class="background">
        <%= yield %>
      </div>
      <%else%>
      <div class="background-home">
        <%= yield %>
      </div>
      <%end%>
    </main>
    <% if !current_page?(courses_path) %>
      <footer> <%= render 'shared/footer' %> </footer>
    <%end%>
    <!-- This div is not obosolete -->
  </body>
</html>
